<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" href="/styles.css" />
    <title>SMVDU Vyakhyan</title>
  </head>
  <body style="overflow-x: hidden">
    <nav class="nav-bar">
      <span class="logo">
        <img src="/images/logo-600.png" alt="" />
      </span>
      <div class="nav-list">
        <ul class="list-items">
          <li><a href="home">Home</a></li>
          <li><a href="availability">Availability</a></li>
          <li><a href="book">Book LT(faculty only)</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
