@media screen and (max-width: 300px) {
    h1 {
        font-size: large;
    }

    .note {
        font-size: small;
    }
}

@media screen and (max-width: 450px) and (min-width: 301px) {
    h1 {
        font-size: larger;
    }

    .note {
        font-size: small;
    }
}

@media screen and (max-width: 500px) {
    .section {
        margin-left: 10%;
        margin-right: 10%;
    }

    .com {
        font-weight: 400;
    }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
    .section {
        margin-left: 15%;
        margin-right: 15%;
    }
}
