<%- include('partials/header') %>

<div class="vertical-list">
  <div class="vhead">
    <p>Check the status of Lecture theatres</p>
  </div>
  <div class="first">
    <a href="lt1">LT 1 STATUS</a>
  </div>
  <div class="second">
    <a href="lt2">LT 2 STATUS</a>
  </div>
  <div class="third">
    <a href="lt3">LT 3 STATUS</a>
  </div>
  <div class="fourth">
    <a href="lt4">LT 4 STATUS</a>
  </div>
</div>

<div class="note">
  <p>Note: Only faculty members can update their respective schedules and other events can take place in available slot only. Events cordinators can't update engaged slots of professors.</p>
</div>

<footer class="foot">Copyright © SMVDU Hackathon 2022.</footer>
