<%- include('partials/header') %>

<section class="main-content">
    <div class="main-img">
      <div class="main-txt">
        <div class="head">
          <h1 class="heading">Vyakhyan</h1>
        </div>
        <p class="text-change">Check availability of Lecture Halls</p>
      </div>
    </div>
  </section>

  <footer class="foot">Copyright © SMVDU Hackathon 2022.</footer>
  <script src="/index.js"></script>
</body>
</html>
