table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 10em 10em 10em 10em;
    margin-left: 1em;
    table-layout: fixed;
}

td,
th {
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
