* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    display: flex;
    background-color: #fdeedc;
    color: #282c3f;
    position: sticky;
}

.logo img {
    width: 15%;
}

.nav-list {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.list-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    font-size: large;
}

table,
th,
td {
    border: 1px solid black;
}

.items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-content {
    height: 50%;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #c4122f;
    font-weight: bold;
}

.main-img {
    background-image: linear-gradient(rgba(0, 0.4, 0, 0.4), rgba(0, 0.4, 0, 0.4)), url("./images/smvdu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-txt {
    color: #eeeeee;
}

.heading {
    font-size: 4.3em;
    padding: 15% 0% 1% 0%;
}

.text-change {
    font-size: 2em;
    padding-bottom: 15%;
    color: #eeeeee;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.foot {
    width: 100%;
    background-color: #eeeeee;
}

.head,
.text-change {
    display: flex;
    justify-content: center;
}
